@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 3px  black;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
  background-color: #1877f2;
}
.button:hover{
  background-color: #166fe5;
  cursor: pointer;
}

.row{
  margin: 8px 0;
  color: blueviolet;
}
.row input{
  width: 291px;
  font-size: 25px;
    margin: 0;
    padding: 10px 0px;
    border: 8px  red;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px gainsboro;
    justify-content: flex-start;
}

.text-center{
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: solid black;
    
  }
 .subtitle{
  text-align: center;
  color: #606770;
  font-size: 20px;
 } 
  

  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
